body {
    background-color: #0e1722;
    animation: fadeInAnimation ease 2s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}
h1 {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% {
        opacity: 1; 
    } 
} 
