@tailwind base;
/* Custom classes here */
html {
  scroll-behavior: smooth;
}

body {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #0f151c;
  color: whitesmoke;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home-text {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
@media (max-width: 640px) {
  .home-text {
    top: 40%;
    transform: translate(0, -40%);
  }
}

.button-container {
  transition-duration: 0.4s;
}
.button-container:hover {
  background-color: whitesmoke;
  color: #0e1722;
}

.arrow {
  border: solid whitesmoke;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  transition: 0s;
}
.button-container:hover .arrow {
  border-color: #0e1722;
}

.list-button:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 5px;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: relative;
  background: whitesmoke;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.list-button:hover:after {
  width: 100%;
  left: 0;
}

.contact-button {
  color: #f5f5f5;
  fill: currentColor;
  width: 4rem;
  height: 4rem;
  transition-duration: 0.3s;
}
@media (max-width: 640px) {
  .contact-button {
    width: 2.75rem;
    height: 2.75rem;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 19rem 19rem;
}

.work-card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  color: whitesmoke;
  position: relative;
  margin-bottom: 4rem;
}

.gutter-sizer {
  width: 11%;
}
@media (max-width: 640px) {
  .gutter-sizer {
    width: 0;
  }
}
@media (max-width: 880px) {
  .gutter-sizer {
    width: 11%;
  }
}

.align-center {
  align-items: center;
}

.spacing-s {
  border-spacing: 0 3rem;
}

.spacing-m {
  border-spacing: 0 5rem;
}

.ws-s {
  word-spacing: 0.5rem;
}

@tailwind components;
@tailwind utilities;
